.vscode/*
*.exe
**/.terraform/*
*.tfstate
*.tfstate.*
*.swp
.DS_Store
**/.DS_Store
out/
*.swp
shifter_linux_*
shifter_darwin_*
shifter_windows_*
shifter_win_*
data**
.vscode
*.zip
data**
caramilk
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
**/*.auto.tfvars
**/*.code-workspace
**/service-account-key.json
**/openshift-install
**/openshift-install-linux.tar.gz
**/openshift-clientinstall-linux.tar.gz
**/oc
**/install-config/
**/providers.tf
